@use './fonts';


:root {

  --font-main: 'MoJangLes', sans-serif;


  --gap: 20px;
  --radius: 16px;
  --blur: 16px;


  --transition-base: all 0.28s cubic-bezier(0.34, 1.56, 0.64, 1);
  --transition-slow: all 0.45s ease;
}


:root[data-theme="light"] {

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8f8f8;
  --color-bg-card: rgba(255, 255, 255, 0.12);
  --color-bg-overlay: rgba(0, 0, 0, 0.95);


  --color-text-primary: #111111;
  --color-text-secondary: #000000;
  --color-text-tertiary: #777777;
  --color-text-white: #ffffff;
  --color-text-black: #000000;


  --color-border: rgba(255, 255, 255, 0.18);
  --color-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  --color-shadow-hover: 0 20px 50px rgba(0, 0, 0, 0.18);
  --color-shadow-preview: 0 30px 80px rgba(0, 0, 0, 0.6);


  --color-button: #333333;
  --color-button-hover: #555555;

  --color-bg-popup: rgba(255, 255, 255, 0.14);
}


:root[data-theme="dark"] {

  --color-bg-primary: #1a1a1a;
  --color-bg-secondary: #242424;
  --color-bg-card: rgba(36, 36, 36, 0.6);
  --color-bg-overlay: rgba(0, 0, 0, 0.98);


  --color-text-primary: #f5f5f5;
  --color-text-secondary: #ffffff;
  --color-text-tertiary: #888888;
  --color-text-white: #000000;
  --color-text-black: #ffffff;


  --color-border: rgba(60, 60, 60, 0.3);
  --color-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  --color-shadow-hover: 0 20px 50px rgba(0, 0, 0, 0.4);
  --color-shadow-preview: 0 30px 80px rgba(0, 0, 0, 0.8);


  --color-button: #444444;
  --color-button-hover: #ffffff;

  --color-bg-popup: rgba(26, 26, 26, 0.14);
}
